<configuration>
    <appender name="standard_output_to_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="json_console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <springProfile name="dev">
        <root level="info">
            <appender-ref ref="standard_output_to_console"/>
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="debug">
            <appender-ref ref="standard_output_to_console"/>
        </root>
    </springProfile>

    <springProfile name="beagile_dev">
        <root level="info">
            <appender-ref ref="json_console"/>
        </root>
    </springProfile>
    <springProfile name="beagile_dev">
        <root level="debug">
            <appender-ref ref="json_console"/>
        </root>
    </springProfile>
    <springProfile name="beagile_staging">
        <root level="info">
            <appender-ref ref="json_console"/>
        </root>
    </springProfile>
    <springProfile name="beagile_staging">
        <root level="debug">
            <appender-ref ref="json_console"/>
        </root>
    </springProfile>

</configuration>